.add-note {
  &__wrapper {
    border: 1px solid $gray-300;
    box-shadow: 1px 2px 4px $gray-500;
    padding: 20px 30px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    
    & > *:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__input {
    &--invalid {
      border: 1px solid $error-red;
    }
  }
  &__error {
    position: relative;
    left: 5px;
    bottom: 1px;
    color: $error-red;
  }
  &__paragraph {
    font-size: 16px;
    color: $gray-600;
  }
  &__button {
    padding: 5px 20px;
    margin: 0 5px;
    &--link {
      text-decoration: none;
    }
  }
}