.counter {
  &__wrapper {
    color: $neutral-white;
    margin-top: 10px;
    padding: 30px 25px;
    border: 1px solid $gray-300;
    box-shadow: 1px 1px 2px $gray-500;
  }
  &__description {
    font-size: 16px;
    color: $gray-500;
    margin-bottom: 0;
  }
  &__count {
    font-size: 26px;
    color: $gray-600;
    margin-bottom: 0;
  }
}