.remove-note {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;

  &__wrapper {
    border-radius: 5px;
    background-color: $error-red;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  &__icon {
    width: 32px;
    height: 32px;
    filter: brightness(0) invert(1);
  }

  &__text {
    font-size: 14px;
    color: $neutral-white;

    &-wrapper {
      align-self: center;
      margin: 0 20px 0 10px;
    }
  }

  &__button {
    margin: 0 5px;
    padding: 0 10px;
    &--accept {
      background-color: $neutral-white;
      color: $error-red;
    }
    &--reject {
      border: 1px solid $neutral-white;
      color: $neutral-white;
      &:hover {
        color: $neutral-white;
      }
      &:focus {
        box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, .25);
      }
    }
    &s {
      display: flex;
    }
  }
}