.form-check {
  & input.form-check-input {
    margin-left: 0;
  }
  &.my-table {
    table.table {
      margin-bottom: 0;
      border: 1px solid $gray-200;

      thead.thead-dark {
        th {
          font-weight: normal;
          &.select-all {
            cursor: pointer;
          }
        }
        background-color: $gray-600;
        border: 1px solid $gray-600;
        color: $gray-200;
        & span.sr-only {
          display: none;
        }
      }
      tbody {
        border-top: 0;
      }
    }
  }
}

button.table-button {
  padding: 10px 60px;
}

.id-label {
  color: $primary-blue;
}