<template>
  <div class="add-note__wrapper">
    <form class="add-note__content">
      <p class="add-note__paragraph">
        Add note
      </p>
      <div class="d-flex-flex-column">
        <input type="text" class="form-control" placeholder="Add title" aria-label="Add title" v-model="form.title" :class="{ 'add-note__input--invalid': this.$v.form.content.$error && !$v.form.title.required }">
        <div class="add-note__error" v-if="this.$v.form.content.$error && !$v.form.title.required">
          Required
        </div>
      </div>
      <div class="d-flex flex-column">
        <input type="text" class="form-control" placeholder="Add content" aria-label="Add content" v-model="form.content" :class="{ 'add-note__input--invalid': this.$v.form.content.$error && !$v.form.content.required }">
        <div class="add-note__error" v-if="this.$v.form.content.$error && !$v.form.content.required">
          Required
        </div>
      </div>
      <div class="d-flex">
        <button type="button" class="btn add-note__button btn-primary" @click.prevent="saveNote">
          Save
        </button>
        <button type="button" class="btn add-note__button add-note__button--link btn-link" @click.prevent="cancelNote">
          Cancel
        </button>
      </div>
    </form>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { Validation } from 'vue-plugin-helper-decorator';
import { required } from 'vuelidate/lib/validators';

import { EventBus } from '../services/event-bus';

@Component({})
export default class AddNote extends Vue {
  $v;

  form: any = {
    title: '',
    content: '',
  };

  resetForm() {
    this.form = {
      title: '',
      content: '',
    }
  }

  @Validation()
  validationObject() {
    return {
      form: {
        title: {
          required,
        },
        content: {
          required,
        }
      }
    }
  }

  saveNote() {
    this.$v.$touch();
    if (this.$v.$error) {
      return;
    }
    EventBus.$emit('savenote', this.form);
    this.$v.$reset();
    this.resetForm();
  }

  cancelNote() {
    this.resetForm();
    EventBus.$emit('closenotepopup');
  }
}
</script>