<template>
  <div class="counter__wrapper">
    <div class="d-flex justify-content-between flex-wrap">
      <div class="d-flex flex-column">
        <p class="counter__description">
          Total
        </p>
        <p class="counter__count">
          {{ total }}
        </p>
      </div>
      <div class="d-flex flex-column">
        <p class="counter__description">
          Completed
        </p>
        <p class="counter__count">
          {{ completed }}
        </p>
      </div>
      <div class="d-flex flex-column">
        <p class="counter__description">
          Not completed
        </p>
        <p class="counter__count">
          {{ notCompleted }}
        </p>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
@Component({
  components: {}
})
export default class Counter extends Vue {
  @Prop({}) tasks!: any[];

  get total() {
    return this.tasks.length;
  }

  get completed() {
    return this.tasks.filter(task => {
      return task.status && task.status === 'Completed';
    }).length;
  }

  get notCompleted() {
    return this.tasks.filter(task => {
      return task.status && task.status === 'Not completed';
    }).length;
  }
}
</script>