<template>
  <div class="remove-note__wrapper">
    <div class="remove-note">
      <div class="remove-note__text-wrapper">
        <img class="remove-note__icon" src="../assets/warning-icon.svg"/>
        <span class="remove-note__text">
          {{`Do you want to delete ${ count === 1 ? 'this note' : 'these notes'}?`}}
        </span>
      </div>
      <div class="remove-note__buttons">
        <button type="button" class="btn remove-note__button remove-note__button--reject" @click="close">
          No
        </button>
        <button type="button" class="btn remove-note__button remove-note__button--accept btn-danger" @click.prevent="remove">
          Yes
        </button>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

import { EventBus } from '../services/event-bus';

@Component({})
export default class RemoveNote extends Vue {
  @Prop({}) ids!: string[];

  get count() {
    return this.ids.length;
  }

  close() {
    EventBus.$emit('unselectNotes');
  }

  remove() {
    EventBus.$emit('removeNotes');
  }
}
</script>