<template>
  <div class="d-flex flex-column justify-content-center m-4">
    <div class="form-check my-table p-0">
      <b-table
        no-sort-reset
        head-variant="dark"
        :items="items"
        :fields="fields"
      >
        <template v-slot:cell(selected)="row">
          <input class="form-check-input" type="checkbox" v-model="row.item.selected" @change="onSelectionChange($event)">
        </template>
        <template v-slot:cell(id)="row">
          <span class="id-label">
            {{ row.item.id }}
          </span>
        </template>
        <template v-slot:cell(title)="row">
          {{ row.item.title }}
        </template>
        <template v-slot:cell(content)="row">
          {{ row.item.content }}
        </template>
        <template v-slot:cell(status)="row">
          {{ row.item.status }}
        </template>
      </b-table>
    </div>
    <div class="mt-3 align-self-end">
      <button type="button" class="btn table-button btn-primary" @click="addNewNote">
        Add
      </button>
    </div>
    <div class="align-self-start" v-if="showAddNewNote">
      <AddNote/>
    </div>
    <RemoveNote :ids="selectedItemsIds" v-if="canShowRemoveNote" />
  </div>
</template>
<script lang="ts">
import { Component, Prop, Watch, Vue } from 'vue-property-decorator'
import AddNote from './AddNote.vue';
import RemoveNote from './RemoveNote.vue';
import { EventBus } from '../services/event-bus';

@Component({
  components: {
    AddNote,
    RemoveNote,
  }
})
export default class Table extends Vue {
  @Prop({ default: [] }) items!: any[];
  showAddNewNote: boolean = false;

  fields = [
    {
      key: 'selected',
      label: 'Select all',
      sortable: false,
      thClass: 'select-all',
    },
    {
      key: 'id',
      label: 'ID',
      sortable: true,
    },
    {
      key: 'title',
      label: 'Title',
      sortable: true,
    },
    {
      key: 'content',
      label: 'Content',
      sortable: true,
    },
    {
      key: 'status',
      label: 'Status',
      sortable: true,
    }
  ];

  get selectedItemsIds() {
    return this.items.filter(item => {
      return item.selected;
    }).map(entry => entry.id);
  }

  get canShowRemoveNote() {
    return this.selectedItemsIds && this.selectedItemsIds.length;
  }

  get shouldSelectAll() {
    return !this.items.every(item => {
      return item.selected;
    });
  }

  get allSelected() {
    return this.items.every(item => item.selected);
  }

  get allUnselected() {
    return this.items.every(item => !item.selected);
  }

  onSelectionChange() {
    if (this.allSelected && this.isHeaderTextEqual('Select all')) {
      EventBus.$emit('unselectAllText');
    } else if (this.allUnselected && this.isHeaderTextEqual('Unselect all')) {
      EventBus.$emit('selectAllText');
    }
  }

  isHeaderTextEqual(text: string) {
    const el = this.$el;
    if (el) {
      const element = el.querySelector('th.select-all div');
      if (element) {
        return element.innerHTML === text;
      }
    }
    return false;
  }

  addNewNote() {
    this.showAddNewNote = true;
  }

  onCancelNewNote() {
    this.showAddNewNote = false;
  }

  @Watch('allSelected')
  onAllSelectedChange(val, old) {
    if (!val && old && !this.isHeaderTextEqual('Select all')) {
      EventBus.$emit('selectAllText');
    }
  }

  created() {
    EventBus.$on('closenotepopup', this.onCancelNewNote);
  }

  mounted() {
    const selectAllElem = this.$el.querySelector('th.select-all');
    if (selectAllElem) {
      selectAllElem.addEventListener('click', () => {
        if (this.shouldSelectAll) {
          EventBus.$emit('selectAllNotes');
        } else {
          EventBus.$emit('unselectNotes');
        }
      });
    }
  }

  beforeDestroy() {
    EventBus.$off('closenotepopup', this.onCancelNewNote);
  }
}
</script>