<template>
  <div id="app d-flex flex-column">
    <div class="counter-wrapper">
      <Counter :tasks="mockData" />
    </div>
    <div class="table-wrapper">
      <Table ref="table" :items="mockData"/>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import HelloWorld from './components/HelloWorld.vue'
import Counter from './components/Counter.vue';
import Table from './components/Table.vue';
import AddNote from './components/AddNote.vue';

import { EventBus } from './services/event-bus';

import mocks from './assets/mockdata';

@Component({
  components: {
    HelloWorld,
    Counter,
    Table,
    AddNote,
  }
})
export default class App extends Vue {
  mockData: any[] = [];

  onRemoveItems() {
    this.mockData = this.mockData.filter(entry => {
      return !entry.selected;
    });
  }

  onAddItem(form: any) {
    this.mockData.push({
      ...form,
      status: 'New',
      id: Math.max(...this.mockData.map(item => item.id)) + 1,
    });
  }

  setSelectAllHeaderText(value) {
    const ref: any = this.$refs['table'];
    if (ref && ref.$el) {
      const element = ref.$el.querySelector('th.select-all div');
      if (element) {
        element.innerHTML = value;
      }
    }
  }

  unselectNotes() {
    this.mockData.forEach(item => {
      item.selected = false;
    });
    this.changeTextSelectAll();
  }

  selectAllNotes() {
    this.mockData.forEach(item => {
      item.selected = true;
    });
    this.changeTextUnselectAll();
  }

  changeTextSelectAll() {
    this.setSelectAllHeaderText('Select all');
  }

  changeTextUnselectAll() {
    this.setSelectAllHeaderText('Unselect all');
  }

  created() {
    this.mockData = mocks.map((entry: any) => {
      return {
        ...entry,
        selected: entry.selected !== undefined ? entry.selected : false,
      };
    });

    EventBus.$on('removeNotes', this.onRemoveItems);
    EventBus.$on('savenote', this.onAddItem);
    EventBus.$on('unselectNotes', this.unselectNotes);
    EventBus.$on('selectAllNotes', this.selectAllNotes);
    EventBus.$on('selectAllText', this.changeTextSelectAll);
    EventBus.$on('unselectAllText', this.changeTextUnselectAll);
  }

  beforeDestroy() {
    EventBus.$off('removeNotes', this.onRemoveItems);
    EventBus.$off('savenote', this.onAddItem);
    EventBus.$off('unselectNotes', this.unselectNotes);
    EventBus.$off('selectAllNotes', this.selectAllNotes);
    EventBus.$off('selectAllText', this.changeTextSelectAll);
    EventBus.$off('unselectAllText', this.changeTextUnselectAll);
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
div.counter-wrapper {
  margin-left: 1.5em;
  max-width: 50%;
}
</style>
